*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-size: 20px;
        font-weight: 400;
        background-color: #ddc8c3;
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }

    .back-images{
        position: absolute;
    }
    .image-1 img{
       margin-left: 400px;
        
    }
    .image-2 img{
        margin-left: 250px;
        margin-top: -70px;
         
     }
   .image-3 img{
    margin-left: 600px;
    margin-top: -180px;
   }


    
